.btn-orangered {
    background-color: orangered;
    color: white;
}

.btn-orangered:hover {
    background-color: #ff7f50;
    /* Lighter shade of orange */
}

.btn-orangered:active {
    background-color: white;
    /* Change to white when clicked */
    color: black;
    /* Change text color to black when clicked */
}

.show-password {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    text-decoration: none;
}

.show-password:hover {
    color: #495057;
    background-color: #e9ecef;
    border-color: #adb5bd;
}